<div class="alert alert-warning icon mb-0" *ngIf="!users?.length">No users found</div>

<table class="table table-sm table-striped" *ngIf="users?.length">
  <thead>
    <tr>
      <th>User</th>
      <th>Total Tasks</th>
      <th>Not Started</th>
      <th>Tasks Over 7 Days</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userName }}</td>
      <td>
        <a (click)="modals.openModalWithComponent('tasks',user)">
          {{ user.taskCount }}
        </a>
      </td>
      <td>
        <a (click)="modals.openModalWithComponent('tasks',user)">
          {{ user.notStarted }}
        </a>
      </td>
      <td>
        <a (click)="modals.openModalWithComponent('tasks',user)">
          {{ user.completedInOneWeek }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
