<div class="alert alert-warning icon mb-0" *ngIf="!users?.length">No users found</div>

<table class="table table-sm table-striped" *ngIf="users?.length">
  <thead>
    <tr>
      <th>User</th>
      <th>Total Tasks</th>
      <th>Not Started</th>
      <th>Tasks Over 7 Days</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of users">
      <td>{{ entry.name }}</td>
      <td>
        <a (click)="modals.openModalWithComponent('tasks',entry)">
          {{ entry.tasksTotal }}
        </a>
      </td>
      <td>
        <a (click)="modals.openModalWithComponent('tasks',entry)">
          {{ entry.tasksNotStarted }}
        </a>
      </td>
      <td>
        <a (click)="modals.openModalWithComponent('tasks',entry)">
          {{ entry.tasksOld }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
