<div class="alert alert-warning icon" *ngIf="!loans?.length">No loans found</div>

<table class="table table-sm table-striped" *ngIf="loans?.length">
  <thead>
    <tr>
      <th>Loan Number</th>
      <th>Borrower</th>
      <th>Request Type</th>
      <th>Property State</th>
      <th width="10%">Date Started</th>
      <th width="10%">Date Followed Up</th>
      <th width="10%">Date Finished</th>
      <th width="8%" *ngIf="manager">Assign</th>
      <th width="10%" *ngIf="manager">
        Bulk Assign

        <app-launch-modal classes="btn btn-xs btn-primary d-inline-block"  [disabled]="bulkDisabled"
                          modal="AssignComponent" size="lg" [data]="loans"
                          (success)="fileUploadComplete($event)">
          <i class="fa fa-share" aria-hidden="true"></i>
        </app-launch-modal>

      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of loans">
      <td>
        123456789
      </td>
      <td>
        {{ entry.name }}
      </td>
      <td>
        VOE
      </td>
      <td>
        Texas
      </td>
      <td class="text-center">
        <button class="btn btn-sm btn-primary w-100 text-center" (click)="start(entry.id)" *ngIf="!model[entry.id]?.dateStarted">
          <i class="fa fa-play-circle" aria-hidden="true"></i> Start
        </button>
        <ng-container *ngIf="model[entry.id]?.dateStarted">
          <small>{{ model[entry.id]?.dateStarted | date: 'short' }}</small>
        </ng-container>
      </td>
      <td class="text-center">
        <button class="btn btn-sm btn-primary w-100 text-center" [disabled]="!model[entry.id]?.dateStarted">
          <i class="fa fa-paper-plane" aria-hidden="true"></i> Followup
        </button>
      </td>
      <td class="text-center">
        <app-launch-modal classes="btn btn-sm btn-primary w-100 text-center" [disabled]="!model[entry.id]?.dateStarted"
                          modal="DocumentUploadComponent" size="lg" [data]="entry.id"
                          (success)="fileUploadComplete($event)">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i> Finish
        </app-launch-modal>
      </td>

      <td class="text-center" *ngIf="manager">
        <app-launch-modal classes="btn btn-sm btn-primary w-100 text-center"
                          modal="AssignComponent" size="lg" [data]="loans"
                          (success)="fileUploadComplete($event)">
          <i class="fa fa-share" aria-hidden="true"></i> Assign
        </app-launch-modal>
      </td>
      <td class="text-center" *ngIf="manager" style="position:relative;">
        <label class="mb-0 pt-2 pb-2">
          <input class="form-control" type="checkbox" [(ngModel)]="assignBulk[entry.id]" (ngModelChange)="bulkAssignValid($event)" />
        </label>
      </td>

    </tr>
  </tbody>
</table>
